.box {
    height: fit-content;
    width: 280px;
    margin: 30px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}
.groove {
    border-style: groove;
    border-color: grey;
}
.ridge {
    border-style: ridge;
    border-color: grey;
}
.outset {
    border-style: outset;
    border-color: grey;
}
.hidden {
    border-style: hidden;
}
.dashed {
    border-style: dashed;
}
.solid {
    border-style: solid;
}
.none {
    border-style: none;
}
.double {
    border-style: double;
}
.dotted {
    border-style: dotted;
}
.inset {
    border-style: inset;
    border-color: grey;
}

