$text_color: #EEE;
$text_color-hover: #FFF;
$bg_color: #666;
$bg_color-hover: #888;

@mixin text_bg-color {
    color: $text_color;
    background-color: $bg_color;
}

@mixin text_bg-color-hover {
    color: $text_color-hover;
    background-color: $bg_color-hover;
}

@mixin box-sizing ($size){
    -webkit-box-sizing: $size;
    -moz-box-sizing: $size;
    box-sizing: $size;
}

@mixin transitions ($property, $duration, $timing: linear){
    -moz-transition: $property $duration $timing;
    -webkit-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animations ($name, $duration, $timing: linear){
    -moz-animation: $name $duration $timing;
    -webkit-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

@import "menu"
