:root {
    --border-style: 1px solid black;
    --highlight-color: yellow;
}

section {
    height: fit-content;
    width: 15%;
    padding: 1em;

    border: var(--border-style);
}

li {
    margin: 0.2em;
}

#one li:nth-child(-2n+2) {
    background-color: var(--highlight-color);
}

#two li:nth-child(2n+1) {
    background-color: var(--highlight-color);
}

#three li:nth-child(3n) {
    background-color: var(--highlight-color);
}